@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
} 

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

.pointer {
    cursor: pointer;
}

.col-form-label {
    padding-top: 7px;
    font-weight: normal;
}

.form-inline {
    display: inline-block;
}

.w50per {
    width: 50% !important;
}

.w46per {
    width: 46% !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-25 {
    margin-right: 25px !important;
}

.mr-21 {
    margin-right: 21px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-5-block {
    margin-top: 5px !important;
    display: block;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.font-12 {
    font-size: 12px !important;
}

.panel-heading {
    padding-top: 2px;
    padding-bottom: 2px;
}

    .panel-heading a {
        padding: 3px 7px;
    }

.control-label {
    font-size: 14px;
}



.flat, .alert {
    border-radius: 0px !important;
}

h3.page-header {
    padding-left: 0px;
    margin: 15px 0px;
    font-size: 14px;
    font-weight: bold;
    color: #337ab7 !important;
    text-transform: uppercase;
}

.navbar-brand {
    font-family: 'Roboto Condensed', sans-serif;
    color: #337ab7 !important;
    font-size: 16px;
    font-weight: bold;
}

    .navbar-brand:hover {
        color: #018f41 !important;
    }

td > a, td > a > i {
    text-decoration: none;
}

.dataTables_length label, .dataTables_filter label {
    font-size: 12px;
}

textarea.textarea-custom {
    column-width: 50px;
}

.panel-default {
    border-radius: 0px;
}

.success {
    background-color: rgba(63, 191, 63, 0.57);
}

tr .form-control {
    font-size: 13px;
}


.bg-green, .btn-primary {
    background-color: #018F41;
}

.btn-primary {
    border-color: #018F41;
}

    .btn-primary:hover {
        background-color: #018F41;
        border-color: #018F41;
    }

.form-control, .btn {
    border-radius: 0px;
}
