@{
    ViewBag.Title = "Thi ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <strong>Hội đồng thi: Trường ĐH Đông Á</strong>
                <strong class="ml-15" id="credit">Tên chứng chỉ: <i class="fa fa-spin fa-spinner"></i></strong>
                <strong class="ml-15" id="moduleName">Tên module: <i class="fa fa-spin fa-spinner"></i></strong>
                <strong class="ml-15" id="idExaminee">Mã thí sinh: <i class="fa fa-spin fa-spinner"></i></strong>
                <strong class="ml-15" id="fullName">Họ tên: <i class="fa fa-spin fa-spinner"></i></strong>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-2 mb-10">
                    <p>Thời gian làm bài</p>
                    <p class="time box-shadow">20:00</p>
                </div>
                <div class="col-md-10">
                    <div class="question-item">
                        <p>Câu 1. Trong word, giả sử hộp thoại Font đang hiển thị là Time New Roman, để gõ tiếng việt, trong Vietkey cần xác định bảng mã nào sau đây:</p>
                        <ul>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label pointer">
                                        <input type="radio" class="form-check-input" name="optradio">Đáp án 1
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label pointer">
                                        <input type="radio" class="form-check-input" name="optradio">Đáp án 1
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label pointer">
                                        <input type="radio" class="form-check-input" name="optradio">Đáp án 1
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label pointer">
                                        <input type="radio" class="form-check-input" name="optradio">Đáp án 1
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="question-item">
                        <p>Câu 2. Trong word, giả sử hộp thoại Font đang hiển thị là Time New Roman, để gõ tiếng việt, trong Vietkey cần xác định bảng mã nào sau đây:</p>
                        <ul>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label pointer">
                                        <input type="radio" class="form-check-input" name="optradio">Đáp án 1
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label pointer">
                                        <input type="radio" class="form-check-input" name="optradio">Đáp án 1
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label pointer">
                                        <input type="radio" class="form-check-input" name="optradio">Đáp án 1
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label pointer">
                                        <input type="radio" class="form-check-input" name="optradio">Đáp án 1
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-nav">
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#">Trở về</a></li>
                                    <li class="page-item"><a class="page-link" href="#">Câu tiếp</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="pagination pull-right">
                                    <li class="page-item"><a class="page-link" href="#">Nộp bài</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/Client/js/examination.js"></script>
}

