body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F8F9FA;
    font-size: 15px;
}

.question-item ul li {
    padding-bottom: 3px;
}

.bg-green, .btn-primary {
    background-color: #018F41;
}

.btn-primary {
    border-color: #018F41;
}

    .btn-primary:hover {
        background-color: #018F41;
        border-color: #018F41;
    }

.form-control, .btn {
    border-radius: 0px;
}

.navbar-text-custom {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 22px;
}

footer {
    padding: 20px 0px;
    background-color: #018F41;
    display: block;
}

p.time {
    margin: 0px;
    width: 100px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #018F41;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.75rem rgba(6, 119, 10, 0.27);
}

.card {
    border-radius: 0px !important;
}


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.mb-10 {
    margin-bottom: 10px;
    display: block;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

span.text-danger.field-validation-error {
    display: block;
    margin-top: 5px;
}

.form-group-mb-0 .form-group {
    margin-bottom: 0px !important;
}

.question-item ul {
    list-style: none;
}

.pointer {
    cursor: pointer;
}

.footer-nav {
    margin-top: 50px;
}

    .footer-nav .pagination .page-item {
        border-radius: 0px;
        background-color: #018F41;
    }

        .footer-nav .pagination .page-item a {
            border-radius: 0px;
            background-color: #018F41;
            color: #FFFFFF;
        }

.disabled {
    background-color: grey !important;
}


.cus .card-header {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
}

    .cus .card-header h5 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
    }

.transparent {
    text-align: center;
    background-color: transparent !important;
}

.test {
    border: none !important;
}

.navbar-brand img {
    
}