<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TRUNG TÂM TIN HỌC TRƯỜNG ĐẠI HỌC ĐÔNG Á</title>

    <link href="~/Content/Client/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/Client/css/Site.css" rel="stylesheet" />
</head>
<body>
    <header class="main-header">
        @*<div class="navbar navbar-dark bg-green box-shadow height-100-percent">
            <div class="container-fluid d-flex justify-content-between">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img src="~/Content/logo.png" />
                    <span class="text-in-circle">it</span><span>uda</span>
                </a>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Đăng ký <i class="fa fa-sign-in"></i></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hồ sơ cá nhân
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>*@
        <nav class="navbar navbar-dark navbar-expand-lg bg-green box-shadow height-100-percent">
            <a class="navbar-brand" href="#">
                <span class="text-in-circle">it</span><span>uda</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse float-right" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto"> </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-sign-out"></i> Đăng ký </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Login")"><i class="fa fa-sign-in"></i> Đăng nhập </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>  Hồ sơ
                        </a>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Thông tin cá nhân</a>
                            <a class="dropdown-item" href="#">Khóa học</a>
                            <a class="dropdown-item" href="#">Tin nhắn</a>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
    <main role="main">
        <div class="album mt-20 bg-light">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>

    </main>

    @*<footer>
            <div class="container">
                <p style="color:white; margin-bottom: 0px;">©2016 Trung tâm ICT <a style="color:white" href="http://donga.edu.vn" target="_blank">Trường Đại học Đông Á</a></p>
            </div>
        </footer>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Content/Client/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/i18n/vi.js"></script>
    <script src="~/Content/Client/js/app.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
