@{
    ViewBag.Title = "Trang chủ";
}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <i class="fa fa-steam-square"></i>  Danh sách khóa học
                            <i class="fa fa-replace pull-right"></i>
                        </button>

                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>
                                <a data-toggle="collapse" data-target="#collapseChild1" aria-expanded="false" aria-controls="collapseOne" href="#">Lớp đăng ký</a>
                                <ul id="collapseChild1">
                                    <li><a href="#">Thi thử chuẩn CNTT cơ bản</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" data-target="#collapseChild2" aria-expanded="false" aria-controls="collapseOne" href="#">Lớp miễn phí</a>
                                <ul id="collapseChild2">
                                    <li><a href="#">Thi thử chuẩn CNTT cơ bản</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="accordion2">
            <div class="card mt-10">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <i class="fa fa-steam-square"></i>  Danh sách khóa học
                            <i class="fa fa-replace pull-right"></i>
                        </button>

                    </h5>
                </div>

                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion2">
                    <div class="card-body">
                        <ul>
                            <li>
                                <a data-toggle="collapse" data-target="#collapseChild3" aria-expanded="false" aria-controls="collapseTwo" href="#">Lớp đăng ký</a>
                                <ul id="collapseChild3">
                                    <li><a href="#">Thi thử chuẩn CNTT cơ bản</a></li>
                                </ul>
                            </li>
                            <li>
                                <a data-toggle="collapse" data-target="#collapseChild4" aria-expanded="false" aria-controls="collapseTwo" href="#">Lớp miễn phí</a>
                                <ul id="collapseChild4">
                                    <li><a href="#">Thi thử chuẩn CNTT cơ bản</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">
                    <button class="btn btn-link">
                       Tổng quan khóa học
                    </button>

                </h5>
            </div>
            <div class="card-body">
                <h2>Get more libraries</h2>
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>

            </div>
        </div>
    </div>
</div>