@{
    ViewBag.Title = "IT-UDA";
}
<div class="row">
    <div class="col-md-12 col-sm-12">
        <h4 class="secondary-color"><i class="fa fa-caret-square-o-right"></i> Các khóa học hiện có</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card mb-4 box-shadow">
            <a href="#"><img alt="demo" style="height: 225px; width: 100%; display: block;" class="card-img-top" src="~/Content/Client/images/truong.jpg" /></a>

            <div class="card-body">
                <a class="card-body-title" href="#">Thi thử chứng chỉ CNTT cơ bản</a>
                <p>Không có nội dung</p>

            </div>
            <div class="card-footer bg-white">
                <div class="d-flex justify-content-between align-items-center unmargin-para">
                    <p class="font-14"><i class="fa fa-calendar secondary-color"></i> Bắt đầu</p>
                    <p class="font-14 secondary-color">25/09/2018</p>
                </div>
                <div class="d-flex justify-content-between align-items-center unmargin-para">
                    <p class="font-14"><i class="fa fa-users primary-color"></i> Học viên</p>
                    <p class="font-14 primary-color">200</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4 box-shadow">
            <a href="#"><img alt="demo" style="height: 225px; width: 100%; display: block;" class="card-img-top" src="~/Content/Client/images/truong.jpg" /></a>
            <div class="card-body">
                <a class="card-body-title" href="#">Thi chứng chỉ CNTT cơ bản</a>
                <p>Không có nội dung</p>

            </div>
            <div class="card-footer bg-white">
                <div class="d-flex justify-content-between align-items-center unmargin-para">
                    <p class="font-14"><i class="fa fa-calendar secondary-color"></i> Bắt đầu</p>
                    <p class="font-14 secondary-color">25/09/2018</p>
                </div>
                <div class="d-flex justify-content-between align-items-center unmargin-para">
                    <p class="font-14"><i class="fa fa-users primary-color"></i> Học viên</p>
                    <p class="font-14 primary-color">200</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4 box-shadow">
            <a href="#"><img alt="demo" style="height: 225px; width: 100%; display: block;" class="card-img-top" src="~/Content/Client/images/truong.jpg" /></a>
            <div class="card-body">
                <a class="card-body-title" href="#">Thi thử chứng chỉ CNTT nâng cao</a>
                <p>Không có nội dung</p>

            </div>
            <div class="card-footer bg-white">
                <div class="d-flex justify-content-between align-items-center unmargin-para">
                    <p class="font-14"><i class="fa fa-calendar secondary-color"></i> Bắt đầu</p>
                    <p class="font-14 secondary-color">25/09/2018</p>
                </div>
                <div class="d-flex justify-content-between align-items-center unmargin-para">
                    <p class="font-14"><i class="fa fa-users primary-color"></i> Học viên</p>
                    <p class="font-14 primary-color">200</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card mb-4 box-shadow">
            <a href="#"><img alt="demo" style="height: 225px; width: 100%; display: block;" class="card-img-top" src="~/Content/Client/images/truong.jpg" /></a>
            <div class="card-body">
                <a class="card-body-title" href="#">Thi chứng chỉ CNTT nâng cao</a>
                <p>Không có nội dung</p>

            </div>
            <div class="card-footer bg-white">
                <div class="d-flex justify-content-between align-items-center unmargin-para">
                    <p class="font-14"><i class="fa fa-calendar secondary-color"></i> Bắt đầu</p>
                    <p class="font-14 secondary-color">25/09/2018</p>
                </div>
                <div class="d-flex justify-content-between align-items-center unmargin-para">
                    <p class="font-14"><i class="fa fa-users primary-color"></i> Học viên</p>
                    <p class="font-14 primary-color">200</p>
                </div>
            </div>
        </div>
    </div>
</div>