@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Condensed Bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #F8F9FA;
    font-size: 15px;
}

header.main-header {
    /*height: 45px;*/
}

.nav-link {
    color: #fff !important;
}

.navbar-brand span {
    font-family: 'Roboto Condensed Bold';
    text-transform: uppercase;
}

a .text-in-circle {
    display: block;
    float: left;
    width: 30px !important;
    height: 30px;
    background: #fff;
    text-align: center;
    vertical-align: middle;
    color: #018F41;
    border-radius: 50%;
    margin-right: 2px;
}

.select2-selection {
    border-radius: 0px !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #ced4da
}

.select2-results__option {
    font-size: 14px !important;
}

.height-100-percent {
    height: 100% !important;
}

.question-item ul li {
    padding-bottom: 3px;
}

.bg-green, .btn-primary {
    background-color: #018F41;
}

.btn-primary {
    border-color: #018F41;
}

    .btn-primary:hover {
        background-color: #018F41;
        border-color: #018F41;
    }

.form-control, .btn {
    border-radius: 0px;
}

.navbar-text-custom {
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Roboto Condensed Bold', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 22px;
}

footer {
    padding: 20px 0px;
    background-color: #018F41;
    display: block;
}

p.time {
    margin: 0px;
    width: 100px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #018F41;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    cursor: pointer;
    box-shadow: 0 0.25rem 0.75rem rgba(6, 119, 10, 0.27);
}

.card {
    border-radius: 0px !important;
}


.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.mb-10 {
    margin-bottom: 10px !important;
    display: block;
}

.mb-10-10 {
    margin-bottom: 10px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.ml-5 {
    margin-left: 5px !important;
}

span.text-danger.field-validation-error {
    display: block;
    margin-top: 5px;
}

.form-group-mb-0 .form-group {
    margin-bottom: 7px !important;
}

.question-item ul {
    list-style: none;
}

.pointer {
    cursor: pointer;
}

.footer-nav {
    margin-top: 50px;
}

    .footer-nav .pagination .page-item {
        border-radius: 0px;
        background-color: #018F41;
    }

        .footer-nav .pagination .page-item a {
            border-radius: 0px;
            background-color: #018F41;
            color: #FFFFFF;
        }

.disabled {
    background-color: grey !important;
}


.cus .card-header {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
}

    .cus .card-header h5 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
    }

.transparent {
    text-align: center;
    background-color: transparent !important;
}

.test {
    border: none !important;
}

.navbar-brand img {
}

.table thead {
}

    .table thead th {
        font-size: 14px;
        padding: 6px 10px;
    }

#content p {
    padding-bottom: 0px;
    margin-bottom: 2px;
}

.font-14 {
    font-size: 14px !important;
}

.row-config {
}

.question-nav {
    display: block;
    width: 100%;
}

    .question-nav ul {
        width: 100% !important;
        display: block;
        float: left;
        padding: 0px;
    }

        .question-nav ul li {
            list-style-type: none;
            display: inline;
            float: left;
            padding-left: 0px;
        }

            .question-nav ul li a {
                display: block;
                width: 30px;
                border: 1px solid;
                height: 30px;
                line-height: 30px;
                margin: 0 auto;
                text-align: center;
                text-decoration: none;
                margin-right: -1px;
                margin-bottom: -1px;
            }

.left-logo {
}

.right-logo {
}


/* Collapse card */

[data-toggle="collapse"] .fa-replace:before {
    content: "\f107";
}

[data-toggle="collapse"].collapsed .fa-replace:before {
    content: "\f105";
}

.card-header {
    padding: 0px;
    color: #f98012;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.btn-link {
    font-weight: 400;
    width: 100%;
    text-align: left;
    color: #f98012;
    background-color: transparent;
    text-decoration: none;
}

    .btn-link:hover {
        color: #f98012;
        text-decoration: none;
        background-color: transparent;
        border-color: transparent;
    }

.breadcrumb {
    line-height: 36px;
    background-color: #fff;
    height: 36px;
    padding: 0px 10px;
    border-radius: 0;
}

.breadcrumb-item a {
    color: #f98012;
}

.navbar-nav .dropdown-menu {
    border-radius: 0px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 1px 10px;
    clear: both;
    font-weight: normal;
    color: #212529;
    font-size: 16px;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-menu-left {
    left: -122px;
    right: 0px;
}

/* Login Form */

.container-fluid {
    height: auto;
}

    .container-fluid #login-row #login-column #login-box {
        margin-top: 20px;
        width: 320px;
        max-width: 450px;
        /* height: 450px; */
        border: 1px solid #9C9C9C;
    }

        .container-fluid #login-row #login-column #login-box #login-form {
            padding: 20px;
        }

            .container-fluid #login-row #login-column #login-box #login-form .form-group input.btn {
                background: #018F41;
                border: 1px solid #018F41;
                width: 100%;
            }

            .container-fluid #login-row #login-column #login-box #login-form .form-group label.text-default, a {
                font-size: 14px;
            }
